@{
    ViewData["Title"] = "Home Page";
}

<form action="/Home/PersonSearch" method="post">
    Person ID:<input name="Id" type="number" />
    <input type="submit" />
</form>

<br/>

<br/>

<form action="/Home/PlanetSearch" method="post">
    Planet ID:<input name="Id" type="number" />
    <input type="submit" />
</form>

